<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
  data-header-fix-moment="500" data-header-fix-effect="slide">

  <div id="logoAndNav" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="Cuisi">

        <img src="/img/cuisilogo.png" alt="Cuisi Logo" style="width:45px;height:45px;">
        <span class="u-header__navbar-brand-text">Cuisi</span>
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false"
        aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
        <ul class="navbar-nav u-header__navbar-nav">

          <!-- Button -->
          <li class="nav-item u-header__nav-last-item">
            <a class="btn btn-sm btn-primary transition-3d-hover" href="/create">
              Register to be a Chef
            </a>
          </li>
          <!-- End Button -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN ========== -->
<main id="content" role="main">


  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2 mt-4">
      <!-- Personal Info Form 
                "firstName"
                "lastName"
                "phoneNumber"
                "email"
                "zipCode"
                "streetAddress"
                "city"
                "state"
                "image"
                              -->
      <form class="js-validate">
        <div class="row">
          <!-- Input First Name -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="firstName" class="form-label">
                First Name
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input type="text" class="form-control" name="firstName" id="firstNameInput" placeholder="First Name"
                  aria-label="Enter your name" required aria-describedby="nameLabel" data-msg="Please enter your name."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End First Name Input -->

          <!-- Input Last Name -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="lastName" class="form-label">
                Last Name
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input type="text" class="form-control" name="lastName" id="lastNameInput" placeholder="Last Name"
                  aria-label="lastName" required aria-describedby="nameLabel" data-msg="Last Name"
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End  Last Name Input -->
        </div>

        <div class="row">
          <!-- Input Email -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="emailLabel" class="form-label">
                Email address
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input type="email" class="form-control" name="email" id="emailInput"
                  placeholder="Enter your email address" aria-label="Enter your email address" required
                  aria-describedby="emailLabel" data-msg="Please enter a valid email address."
                  data-error-class="u-has-error" data-success-class="u-has-success">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </div>
          </div>
          <!-- End Email Input -->

          <!-- Input Phone Number-->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="phoneNumberLabel" class="form-label">
                Phone number
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input class="form-control" type="tel" name="phoneNumber" id="phoneNumberInput"
                  placeholder="Enter your phone number" aria-label="Enter your phone number" required
                  aria-describedby="phoneNumberLabel" data-msg="Please enter a valid phone number"
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End Phone Number Input -->
        </div>

        <div class="row">
          <!-- Input Street Address -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="addressLabel" class="form-label">
                Street address
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input type="text" class="form-control" name="address" id="addressInput"
                  placeholder="Enter your street address" aria-label="Enter your street address" required
                  aria-describedby="addressLabel">
                <small class="form-text text-muted">eg. 423 Washington St.</small>
              </div>
            </div>
          </div>
          <!-- End Street Address Input -->

          <!-- Input City-->
          <div class="col-sm-2 mb-2">
            <div class="js-form-message">
              <label id="cityLabel" class="form-label">
                City
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input class="form-control" type="text" name="city" placeholder="City" id="cityInput" aria-label="City"
                  required aria-describedby="cityLabel">

              </div>
            </div>
          </div>
          <!-- End City Input -->
          <!-- Input State-->
          <div class="col-sm-2 mb-2">
            <div class="js-form-message">
              <label id="stateLabel" class="form-label">
                State
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input class="form-control" type="text" name="state" id="stateInput" placeholder="State"
                  aria-label="State" required aria-describedby="stateLabel" data-msg="Please enter a valid state"
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End State Input -->

          <!-- End First Name Input -->

          <!-- Input ZipCode-->
          <div class="col-sm-2 mb-2">
            <div class="js-form-message">
              <label id="zipcodeNumberLabel" class="form-label">
                ZipCode
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input class="form-control" type="text" name="zipcode" id="zipcodeInput" placeholder="Zipcode"
                  aria-label="Zipcode" required aria-describedby="phoneNumberLabel"
                  data-msg="Please enter a valid phone number" data-error-class="u-has-error"
                  data-success-class="u-has-success">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Input First Name -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="photo" class="form-label">
                Photo URL
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <input type="text" class="form-control" name="photo" id="photoInput" placeholder="Enter a URL"
                  aria-label="Enter a URL" required aria-describedby="urlLabel" data-msg="Please enter a URL."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
        </div>
        <!-- End Zipcode Input -->
        <hr class="mt-1 mb-3">
        <!-- Baking ability selection -->
        <div class="mb-3">
          <h2 class="h5 mb-1">Baked Goods</h2>
          <p>Please select all goods you are able to bake:</p>

          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="cakesCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="cakesCheck">Cakes</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="cookiesCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="cookiesCheck">Cookies</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="piesCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="piesCheck">Pies</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="donutsCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="donutsCheck">Donuts</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="cupcakesCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="cupcakesCheck">Cupcakes</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="browniesCheck" name="customCheckboxInline1" class="custom-control-input">
            <label class="custom-control-label" for="browniesCheck">Brownies</label>
          </div>
        </div>



        <hr class="mt-3 mb-3">

        <!-- Title -->
        <div class="mb-3">
          <h2 class="h5 mb-0">About</h2>
          <p>Tell us about yourself in two sentences.</p>
        </div>
        <!-- End Title -->

        <div class="mb-3">
          <label class="form-label">
            Bio
          </label>

          <!-- Text Editor Input -->
          <div class="u-summernote-editor">
            <div class="js-summernote-editor" data-height="160"></div>
          </div>
          <!-- End Text Editor Input -->
        </div>
        <!-- End Personal Info Form -->

        <hr class="my-3">


        <!-- Title -->
        <div class="mb-5">
          <h3 class="h5 mb-1">Social profiles</h3>
          <p>Add elsewhere links to your profile.</p>
        </div>
        <!-- End Title -->

        <!-- Social Profiles Form -->
        <form class="js-validate">
          <!-- Input pinterest Group -->
          <div class="mb-6">
            <div class="js-focus-state form-group">
              <div class="input-group">
                <div id="pinterestProfileLabel" class="input-group-prepend">
                  <span class="input-group-text">https://www.pinterest.com/</span>
                </div>
                <input type="text" class="form-control" placeholder="Pinterest link" aria-label="Pinterest link"
                  required aria-describedby="pinterestProfileLabel" data-msg="Please enter a valid URL address."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
              <small class="form-text text-muted">Add your Pinterest username</small>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input twitter Group -->
          <div class="mb-6">
            <div class="js-focus-state form-group">
              <div class="input-group">
                <div id="twitterProfileLabel" class="input-group-prepend">
                  <span class="input-group-text">http://twitter.com/</span>
                </div>
                <input type="text" class="form-control" placeholder="Twitter profile" aria-label="Twitter profile"
                  required aria-describedby="twitterProfileLabel" data-msg="Please enter a valid URL address."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
              <small class="form-text text-muted">Add your Twitter username (e.g. alexbrown)</small>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input instagram Group -->
          <div class="mb-6">
            <div class="js-focus-state form-group">
              <div class="input-group">
                <div id="instagramProfileLabel" class="input-group-prepend">
                  <span class="input-group-text">http://www.instagram.com/</span>
                </div>
                <input type="text" class="form-control" placeholder="Instagram profile" aria-label="Instagram profile"
                  required aria-describedby="instagramProfileLabel" data-msg="Please enter a valid URL address."
                  data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
              <small class="form-text text-muted">Input your Instagram username </small>
            </div>
          </div>
          <!-- Buttons -->
          <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1" id="submitBakerForm">Submit
            Profile</button>
          <!-- End Buttons -->
          <!-- End Input Group -->
        </form>

        <!-- End Social Profiles Form -->
    </div>

  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">

  $(document).ready(function () {
    console.log("Hi Brian! This script is running.")


    getBakerData = function (event) {
      let formInputFirstName = $("#firstNameInput").val().trim();
      let formInputLastName = $("#lastNameInput").val().trim();
      let formInputPhoneNumber = $("#phoneNumberInput").val().trim();
      let formInputEmail = $("#emailInput").val().trim();
      let formInputStreetAddress = $("#addressInput").val().trim();
      let formInputCity = $("#cityInput").val().trim();
      let formInputState = $("#stateInput").val().trim();
      let formInputZipCode = $("#zipcodeInput").val().trim();
      let formInputImage = $("#photoInput").val().trim();

      let bakerObj = {
        firstName: formInputFirstName,
        lastName: formInputLastName,
        phoneNumber: formInputPhoneNumber,
        email: formInputEmail,
        zipCode: formInputZipCode,
        streetAddress: formInputStreetAddress,
        city: formInputCity,
        state: formInputCity,
        image: formInputImage
      }
      console.log(bakerObj);

      $.post("/api/newBaker", bakerObj);

    }

    let postProduct = function () {
      let productObj = {
        category: "This is the third bestest cake ever.",
        bakerId: 1
      };
      console.log(productObj);
      $.post("/api/newProduct", productObj);
    }

    $(document).on("click", "#submitBakerForm", getBakerData);

  });



</script>