<!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
          data-header-fix-moment="500"
          data-header-fix-effect="slide">

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="#" aria-label="Cuisi">

            <img src="/img/cuisilogo.png" alt="Cuisi Logo" style="width:45px;height:45px;">
            <span class="u-header__navbar-brand-text">Cuisi</span>
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">

              <!-- Button -->
              <li class="nav-item u-header__nav-last-item">
                <a class="btn btn-sm btn-primary transition-3d-hover" href="/create">
                  Register to be a Chef
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ==========
    Hero Section -->
<main id="content" role="main">

  <div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
      <!-- Content -->
      <div class="row w-100">
        <div class="col-lg-9">
          <h1 class="display-4 font-size-md-down-5 mb-3">Indulge in <strong>Cuisi</strong></h1>
          <p>
            Your connection to:
            <br>
            <span class="text-primary">
              <strong class="u-text-animation u-text-animation--typing"></strong>
            </span>
            <br>
            <br>
            Simplify your next event by finding a Cuisi chef in your area.
          </p>

          <div class="d-flex align-items-center flex-wrap">
            <a class="btn btn-soft-primary btn-wide transition-3d-hover" id="getstarted" href="#started">Get Started</a>
          </div>

        </div>
      </div>
      <!-- End Content -->

      <!-- SVG Background -->
      <!-- <div id="SVGMainHero" class="col-lg-9 col-xl-7 svg-preloader d-none d-lg-block position-absolute top-0 right-0 pr-0" style="margin-top: 105.6px;">
          <figure class="ie-main-hero"> -->
      <image id="SVGMainHeroImg1" style="overflow:visible;" width="750" height="750"
        src="https://www.readyseteat.com/sites/g/files/qyyrlu501/files/uploadedImages/img_6030_98771.jpg"
        transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>


      </figure>
    </div>
    <!-- End SVG Background -->
  </div>
  </div>
  <!-- <img class="js-svg-injector" src="https://www.readyseteat.com/sites/g/files/qyyrlu501/files/uploadedImages/img_6030_98771.jpg" alt="Image Description"
  data-parent="#SVGMainHero"> -->
  </figure>
  </div>
  <!-- End SVG Background -->
  </div>
  </div>
  <!-- End Hero Section -->

  <div>
    <hr>
  </div>

  <!-- Icon Blocks Section -->
  <div class="container space-top-2 space-bottom-md-2 space-bottom-2" id="started">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="btn btn-md btn-soft-success btn-pill mb-2">Select Your Product</span>
      <h2>What product are you looking for?</h2>
    </div>
    <!-- End Title -->

    <!--Products Section-->




    <div class="row">
      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="icon button" value="cake">
              <img src="/img/cakeicon.png" style="height: 65px; width: 65px"
                class="ffa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Cakes</h3>
          <p class="mb-md-0">They're delicious!</p>
        </div>
      </div>

      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="iconbutton" value="cookie">
              <img src="/img/cookieicon.png" style="height: 65px; width: 65px"
                class="ffa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Cookies</h3>
          <p class="mb-md-0">They're also delicious!</p>
        </div>
      </div>

      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="iconbutton" value="pie">
              <img src="/img/pieicon.png" style="height: 65px; width: 65px"
                class="ffa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Pies</h3>
          <p class="mb-md-0">Even more delicious.</p>
        </div>
      </div>

      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="iconbutton" value="donut">
              <img src="/img/donuticon.png" style="height: 65px; width: 65px"
                class="fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Donuts</h3>
          <p class="mb-md-0">Gonuts for Donuts.</p>
        </div>
      </div>

      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="iconbutton" value="cupcake">
              <img src="/img/cupcakeicon.png" style="height: 65px; width: 65px"
                class="ffa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Cupcakes</h3>
          <p class="mb-md-0">Better than cake.</p>
        </div>
      </div>

      <div class="col-md-2 mb-7">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="iconbutton" value="brownie">
              <img src="/img/Brownieicon.png" style="height: 65px; width: 65px"
                class="ffa-2x btn-icon__inner btn-icon__inner-bottom-minus"></img>
            </span>
          </span>
          <h3 class="h5">Brownies</h3>
          <p class="mb-md-0">Fudgey Heaven.</p>
        </div>
      </div>

      <!--End products section-->


      <!--Zip Search-->

      <div class="container space-top-2 space-bottom-md-2 space-bottom-2" id="location">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <span class="btn btn-md btn-soft-success btn-pill mb-2">Location Search</span>
          <h2>Enter your zip code:</h2>
          <br>
          <div class="input-group-pill mb-2">
            <input type="textarea" class="form-control text-center" placeholder="zip code" id="zipcode"
              aria-label="Name">
          </div>
          <br>
          <a class="btn btn-soft-primary btn-wide transition-3d-hover" id="searchzip">Search</a>
        </div>
      </div>
      <!--end zip search-->
    </div>

    <div>
      <hr>
    </div>

    <!-- Blog News Section -->
    <div class="gradient-half-primary-v2">
      <div class="container space-2 space-md-2 px-lg-7">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <span class="btn btn-md btn-soft-success btn-pill mb-2">Cuisi Reviews</span>
          <h2>Read the latest reviews about Cuisi</h2>
          <!-- <p>Find out why Cuisi is changing how you plan the food at your next event.</p> -->
        </div>
        <!-- End Title -->

        <!-- Reviews Carousel -->
        <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3" data-slides-show="3"
          data-slides-scroll="1"
          data-arrows-classes="d-none d-lg-inline-block u-slick__arrow u-slick__arrow--offset u-slick__arrow-centered--y rounded-circle"
          data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left"
          data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right"
          data-pagi-classes="text-center u-slick__pagination mt-7 mb-0" data-responsive='[{
              "breakpoint": 992,
              "settings": {
                "slidesToShow": 2
              }
            }, {
              "breakpoint": 768,
              "settings": {
                "slidesToShow": 1
              }
            }, {
              "breakpoint": 554,
              "settings": {
                "slidesToShow": 1
              }
            }]'>
          <!-- Blog News -->
          <a class="js-slide gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" id="weddingreview"
            style="background-image: url(/img/weddingcake.jpeg); background-size: cover;">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">Through Cuisi my wedding cake dreams came true!</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">Peyton Burchie</strong>
                <div class="u-avatar mx-auto">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->

          <!-- Blog News -->
          <div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">"It was my wife's birthday and she always loved a cake her mom used to
                make when she was a kid. I found a Cuisi chef who recreated the cake as a surprise and it was such an
                amazing moment to see her childhood birthday memories rush back as she ate it. Thank you, Cuisi for
                connecting me to so many fabulous bakers!"</h3>
              <div class="my-4">
                <strong class="d-block mb-2">Keith Margaret</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="/img/cakeicon.png" alt="Cake">
                </div>
              </div>
            </article>
          </div>
          <!-- End Blog News -->

          <!-- Blog News -->
          <a class="js-slide gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" id="weddingreview"
            style="background-image: url(/img/cookies.jpg); background-size: cover;">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">The only way I will order my baked goods is through Cuisi!</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">Shannon Wright</strong>
                <div class="u-avatar mx-auto">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->

          <!-- Blog News -->
          <div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">"Planning a birthday celebration for my twins was made so much easier by
                Cuisi. I was able to order animal print themed donuts, they were delivered to my door and they were
                PERFECT!"</h3>
              <div class="my-4">
                <strong class="d-block mb-2">Ashley Matt</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="/img/donuticon.png" alt="Donut">
                </div>
              </div>
            </article>
          </div>
          <!-- End Blog News -->

          <!-- Blog News -->
          <a class="js-slide gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" id="weddingreview"
            style="background-image: url(/img/pie.jpg); background-size: cover;">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">For every holiday, Cuisi connects me with the best chefs to make sure my parties
                are seamless and my guests are well fed.</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">Cynthia Scott</strong>
                <div class="u-avatar mx-auto">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->
        </div>
        <!-- End News Carousel -->
      </div>
    </div>
    <!-- End Blog News Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script>
  $(window).on("load", function () {
    //logic for routing


    $(".iconbutton").on("click", function () {
      var productInput = $(this).attr("value");
      console.log(productInput);
    });

    //Click events


    function getBakers() {


      console.log("yes");
      var zipInput = $("#zipcode").val();
      console.log(zipInput);
      localStorage.setItem("zip", zipInput);
      window.location.href = "/results"

    }
    $(document).on("click", "#searchzip", getBakers);
  });
</script>