<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
  data-header-fix-moment="500" data-header-fix-effect="slide">

  <div id="logoAndNav" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="Cuisi">

        <img src="/img/cuisilogo.png" alt="Cuisi Logo" style="width:45px;height:45px;">
        <span class="u-header__navbar-brand-text">Cuisi</span>
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false"
        aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
        <ul class="navbar-nav u-header__navbar-nav">

          <!-- Button -->
          <li class="nav-item u-header__nav-last-item">
            <a class="btn btn-sm btn-primary transition-3d-hover" href="/create">
              Register to be a Chef
            </a>
          </li>
          <!-- End Button -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2 mt-4">
      <div class="row">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Profile Card -->
          <div class="card p-1 mb-4">
            <div class="card-body text-center">
              <div class="mb-3">
                <img class="u-lg-avatar rounded-circle" id="baker-pic" src="/img/profile2/Profile_1_160x160.jpg"
                  alt="My Cool Picture is supposed to show up here.">
              </div>

              <div class="mb-3">
                <h1 class="h6 font-weight-medium mb-0" id="baker-name">Misha Corbett</h1>
                <small class="d-block text-muted" id="baker-sd">Cookie & Cake Maker</small>
              </div>

              <div class="mb-2">
                <a class="blank_row">
                  <span></span>
                </a>
              </div>
              <a class="text-secondary small" href="#">
                <i class="mr-1"></i>
              </a>
            </div>
          </div>

          <!-- End Profile Card -->

          <!-- Contacts  -->


          <!-- Social Profiles -->
          <div class="card mb-4">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h3 class="h6 mb-0">Social Profiles</h3>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Social Profiles -->

              <!-- End Social Profiles -->

              <!-- Social Profiles -->

              <!-- End Social Profiles -->

              <!-- Social Profiles -->
              <a class="media mb-4" href="http://twitter.com">
                <div class="u-sm-avatar mr-3">
                  <img class="img-fluid" src="/img/Social Icon PNG/icons8-twitter-96_160x160.png" alt="Twitter">
                </div>
                <div class="media-body">
                  <span class="d-block text-dark">Twitter</span>
                  <small class="d-block text-secondary"></small>
                </div>
              </a>
              <!-- End Social Profiles -->

              <!-- Social Profiles -->
              <a class="media mb-4" href="http://pinterest.com">
                <div class="u-sm-avatar mr-3">
                  <img class="img-fluid" src="/img/Social Icon PNG/Pinterest-PNG-Clipart_160x160.png" alt="Pintrest">
                </div>
                <div class="media-body">
                  <span class="d-block text-dark">Pinterest</span>
                  <small class="d-block text-secondary"></small>
                </div>
              </a>
              <!-- End Social Profiles -->

              <!-- Social Profiles -->
              <a class="media" href="http://facebook.com">
                <div class="u-sm-avatar mr-3">
                  <img class="img-fluid" src="/img/Social Icon PNG/icons8-facebook-80_160x160.png" alt="Facebook">
                </div>
                <div class="media-body">
                  <span class="d-block text-dark">Facebook</span>
                  <small class="d-block text-secondary"></small>
                </div>
              </a>
              <!-- End Social Profiles -->
            </div>
          </div>
          <!-- End Social Profiles -->
        </div>

        <div class="col-lg-9">
          <!-- User Details -->
          <div class="mb-4">
            <h2 class="h4">Hey, I am Misha Corbett <span class="badge badge-success ml-1"></span></h2>
            <h4 class="h6 text-secondary mb-0">Orlando,FL <small>- Joined in July 2017</small></h4>
          </div>
          <!-- End User Details -->

          <!-- Info -->
          <div class="mb-4">
            <p>I’m a stay at home mom of 3 kids with a passion for baking cakes and cookies. Even though I have 3 kids I
              needed an outlet of my own, something for me to do that I enjoy!
            </p>
          </div>
          <!-- End Info -->

          <!-- Collections 
            
End Collections -->

          <hr class="my-7">

          <!-- Icon Blocks -->
          <div class="row">
            <div class="col-md-6 mb-2">
              <h2>Send a Message:</h2>
              <form action="mailto:someone@gmail.com" method="post" enctype="text/plain">
                <div class="input-group-pill">
                  <input type="text" id="contactname" class="form-control" placeholder=" Your Name" aria-label="Name">
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group-pill">
                <input type="email" id="contactemail" class="form-control" placeholder="Your Email" aria-label="Email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group-pill">
                <input type="tel" id="contactphone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control"
                  placeholder="123-456-7890">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="send baker a message"
                  rows="5" name="comments"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-soft-primary btn-wide transition-3d-hover center" id="submitform">Submit
              </button>
            </div>
          </div>
          </form>

          <!-- End Icon Blocks -->
          <hr class="my-7">
          <!-- Reviews -->
          <!-- Title -->
          <div id="reviews" class="mb-3">
            <h3 class="h4 mb-0">Reviews <span class="text-muted font-size-1"></span></h3>
          </div>
          <!-- End Title -->

          <!-- Reviews -->
          <div>
            <!-- Author -->
            <div class="media mb-3">
              <img class="u-avatar rounded-circle mr-3" src="/img/rfernandez_100x100.jpg" alt="Image Description">

              <div class="media-body align-self-center">
                <h4 class="d-inline-block mb-1">
                  <a class="d-block h6 mb-0" href="#">Russel Fernandes</a>
                </h4>

              </div>

              <div class="media-body text-right">

              </div>
            </div>
            <!-- End Author -->

            <p>She was on time and cookies were oustanding. Definitly will be ordering again!!</p>

            <!-- Likes/Reply -->

            <!-- End Likes/Reply -->
          </div>
          <!-- End Reviews -->

          <hr class="my-7">

          <!-- Reviews -->
          <div class="mb-7">
            <!-- Author -->
            <div class="media mb-3">
              <img class="u-avatar rounded-circle mr-3" src="/img/eloyd_100x100.jpg" alt="Image Description">

              <div class="media-body align-self-center">
                <h4 class="d-inline-block mb-1">
                  <a class="d-block h6 mb-0" href="#">Elizabeth Lord</a>
                </h4>

              </div>


            </div>
            <!-- End Author -->

            <p>Cake was moist and delicious, and the frosting was to die for!!</p>

            <!-- Likes/Reply 
              
End Likes/Reply -->
          </div>
          <!-- End Reviews -->
          <!--  <a class="btn btn-block btn-soft-primary transition-3d-hover" href="#">See More</a> -->
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End Content Section -->
</main>